# Configuración de la base de datos PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=2y
JWT_REFRESH_EXPIRATION=1d
JWT_USE_REFRESH_TOKEN=true

# Configuración para Nodemailer
SMTP_HOST=smtp.googlemail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# App
PORT=3008

# EMAIL SERVER
MAIL_HOST='smtp.gmail.com'
MAIL_USER=''
MAIL_PASSWORD=''
MAIL_FROM=''
MAIL_PORT=587
MAIL_RECOVER_PASSWORD_TIME_SECONDS=180
MAX_ATTEMPS_RECOVER_PASSWORD_MAIL=2


URL_APPLICATION_FRONT=''
NODE_ENV='development'